.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Grenze', serif;
    height:100px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #ffffff;
    .logo-container{
        display: flex;
        align-items: center;
        height: 100%;
        width: 70px;
    }
    .options
    {   
        .option-signout{
            display: flex;
            align-items: center;
           
        }
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        cursor: pointer;
        height: 100%;
        
        .option{
            text-decoration: none;
            color: black;
            padding: 0px 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    
}

