.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;

        .logo{

        }
    }
    .options
    {   display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 100%;
        
        .option{
            padding: 10px 15px;
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    
}

