.sign-up{
    display: flex;
    flex-direction: column;
    // width: 380px;
    height: 450px;
    overflow-y: scroll;
    padding: 20px;
    
    label{
        color: red;
    }
    .title{
        margin: 10px 0;
    }
}